/* Comments */
@import "/static/css/globalvar.less";

.qna_first	{ position: relative; width: 846px; margin: 0 0 5px -2px; }
.qna_question	{ position: relative; float: left; width: 806px; padding: 0 0 5px 38px; }
.qna_answer	{ position: relative; float: right; width: 806px; margin: 0 8px 5px 0; }
.prof_img_wbg40	{ background: url("http://@{img_patch}/frontend/wbg_ps40.jpg") no-repeat 0 0; width: 40px; height: 47px; padding: 5px 6px 0 6px; text-align: center; }
.qna_first, .qna_question	{ .prof_img_wbg40 { float: left; margin-right: 14px; } }
.qna_answer	{ .prof_img_wbg40 { float: right; margin-left: 14px; } }
.qna_text	{ position: relative; float: left; }
.qna_first	{ .qna_text	{ background-color: #f8f8f8; width: 768px; border: solid 1px #ddd; margin-left: 10px; } }
.qna_question	{ .qna_text	{ background-color: #f8f8f8; width: 728px; border: solid 1px #ddd; margin-left: 10px; } }
.qna_answer	{ .qna_text	{ background-color: #faff9d; width: 728px; border: solid 1px #ddd; margin-right: 10px; } }

.qna_first, .qna_question, .qna_answer	{ .qna_buttons .button_wb { float: right; margin: 0 0 0 5px; } }
.qna_first, .qna_question	{ .qna_buttons  { padding-left: 76px; height: 22px; line-height: 22px; } }
.qna_answer	{ .qna_buttons { padding-right: 76px; height: 22px; line-height: 22px; } }
.qna_texta	{ position: relative; float: left; margin: 0 0 5px 0; padding: 5px; }
.qna_first
	{
	.qna_texta { background: url("http://@{img_patch}/textarea.gif") repeat-x 0 0 #fff; width: 758px; border: solid 1px #999; margin-left: 10px; height: 90px; }
	.qna_i_subject { float: left; margin: 0 15px 5px 0; height: 22px; line-height: 22px; input { margin: 0; } span { float: left; height: 22px; line-height: 22px; margin-right: 15px; } }
	}
.qna_question	{ .qna_texta { background: url("http://@{img_patch}/textarea.gif") repeat-x 0 0 #fff; width: 800px; border: solid 1px #999; width: 718px; margin-left: 10px; height: 90px; } }
.qna_answer	{ .qna_texta { background: url("http://@{img_patch}/textarea.gif") repeat-x 0 0 #fff; width: 800px; border: solid 1px #999; width: 718px; margin-right: 10px; height: 90px; } }


.qna_data	{ padding: 15px; }
.qna_name	{ float: left; .author_info { margin: 0; } }
.qna_subject	{ float: right; margin-left: 15px; }
.qna_date	{ float: right; margin-left: 15px; }
.qna_controls	{ float: right; .pi_reply, .pi_a_plus { margin: 0 0 0 15px; } }
.qna	{ padding: 0 15px 15px 15px; }
.qna p	{ margin: 0; padding: 0; }

.main_holder	{ .ddd_line {margin: 10px 0 15px 0; } }
.d_l_button		{ .button_wb { float: left; margin: 0; } }

.combg_stuff (@x, @y)	{ background: url("http://@{img_patch}/frontend/comment_stuff.jpg") no-repeat @x @y; position: absolute; width: 5px; height: 5px; }
.qna_first, .qna_question	{ .qna_xleft	{.combg_stuff(0,-44px); width: 11px; height: 11px; top:  10px; left: -11px; } }
.qna_ctl	{.combg_stuff(0,0); top:  -1px; left: -1px; }
.qna_ctr	{.combg_stuff(-17px,0); top:  -1px; right: -1px;}
.qna_cbl	{.combg_stuff(0,-17px); bottom:  -1px; left:  -1px; }
.qna_cbr	{.combg_stuff(-17px,-17px); bottom:  -1px; right:  -1px; }
.qna_answer
	{
	.qna_xleft	{.combg_stuff(-11px,-44px); width: 11px; height: 11px; top: 10px; right: -11px; }
	.qna_ctl	{.combg_stuff(0,-22px); }
	.qna_ctr	{.combg_stuff(-17px,-22px); }
	.qna_cbl	{.combg_stuff(0,-39px);  }
	.qna_cbr	{.combg_stuff(-17px,-39px);  }
	}
.qna_i_subject div	{ margin: 0; }