@import "/static/css/globalvar.less";

/* Left side */

.author_info
	{
	width: 300px; height: 14px; margin-bottom: 5px;
	span		{ float: left; margin-right: 3px; }
	a, .kover	{ float: left; margin-right: 3px; }
	.ai_shop	{ margin-right: 15px; }
	.chat_on	{ color: #8cc106; }
	.chat_off	{ color: #999; }
	}

.m_control
	{
	position: relative; width: 750px; height: 22px; padding: 15px;
	.c_list, .c_list_act, .c_tsm, .c_tsm_act, .c_tla, .c_tla_act, .c_first, .c_first_in, .c_prew, .c_prew_in, .c_next, .c_next_in, .c_last, .c_last_in, .cn_24, .cn_24_act, .cn_48, .cn_48_act, .cn_96, .cn_96_act	{ margin-top: 1px; }
	}

.list_place
	{
	float: left; height: 22px; line-height: 22px;
	a, span	{ margin-right: 5px; }
	}
.lp_number
	{
	float: left; height: 22px; line-height: 22px;
	a, span	{ margin-right: 5px; }
	}
.list_order
	{
	float: right; height: 22px; line-height: 22px; color: #999;
	a, span, input	{ float: left; margin-left: 5px; }
	div				{ float: left; margin: 0 10px 0 5px; }
	input			{ text-align: right; width: 28px; padding: 2px 5px; }
	}

#mess_table
	{
	position: relative; padding: 0px 15px 0 15px;
	.author_info	{ margin: 0; position: absolute; bottom: 6px; }
	.mess_data:hover	{ background-color: #fdffd6 !important; }
	.mess_data
		{
		background-color: #f8f8f8; position: relative; border: solid 1px #f8f8f8; height: 90px; margin-top: 5px;
		div			{ float: left; }
		.md_check	{ float: left; width: 13px; padding: 0 10px 0 0; input[type=checkbox] { margin: 9px 0 0 0; float: left; } height: 13px; }
		.md_info_place	{ float: left; width: 748px; }
		.md_img
			{
			width: 50px; padding: 5px 0 5px 15px; height: 50px; line-height: 16px;
			.product_img_data	{ float: left; padding: 0; width: 50px; }
			.product_img		{ float: left; }
			}
		.md_data
			{
			width: 523px; padding: 5px 15px; line-height: 16px;
			.desc
				{
				height: 14px; line-height: 14px; margin-bottom: 2px; width: 523px;
				a		{ font-size: 11px; color: #666; }
				a:hover	{ font-size: 11px; color: #444; }
				div a, span	{ margin: 0 0 0 5px; }
				a		{ margin: 0; }
				div		{ float: right; }
				}
			.desc_new
				{
				height: 16px; line-height: 14px; margin-bottom: 2px; color: #242424; width: 523px;
				a		{ font-size: 12px; font-weight: bold; color: #666; }
				a:hover	{ font-size: 12px; font-weight: bold; color: #444; }
				a, span	{ margin: 0 0 0 5px; }
				div		{ float: right; }
				}
			.subject
				{
				a		{ display: block; width: 401px; color: #999; }
				span	{ float: left; width: 45px; color: #999; }
				a:hover	{ color: #242424; }
				div		{ float: right; }
				}
			}
		.md_date	{ width: 100px; padding: 5px 15px; line-height: 16px;  text-align: right; }
		}
	.md_new
		{
		background-color: #eee; position: relative; border: solid 1px #f8f8f8; height: 90px; margin-top: 5px;
		.md_data
			{
			.desc, .desc_new	{ a, a:hover	{ color: #242424; } }
			.subject			{ a, span		{ color: #666; } }
			}
		.md_date				{ color: #242424; }
		.product_name a			{ color: #242424 !important; }
		}
	.pf_l_data		{ background-color: #f8f8f8; }
	.product_name
		{
		float: left; width: 718px; height: 30px; line-height: 30px; padding: 0 15px; font-size: 12px; font-weight: bold; color: #666;
		span	{ float: right;  font-size: 11px; font-weight: normal; color: #999; }
		a		{ font-size: 12px; font-weight: bold; color: #666; }
		a:hover	{ font-size: 12px; font-weight: bold; color: #444; }
		}
	.product_name_new
		{
		float: left; width: 718px; border-bottom: 1px solid #eee; height: 30px; line-height: 30px; padding: 0 15px; font-size: 12px; font-weight: bold; color: #242424;
		span	{ float: right;  font-size: 11px; font-weight: normal; color: #999; }
		a		{ font-size: 12px; font-weight: bold; color: #666; }
		a:hover	{ font-size: 12px; font-weight: bold; color: #444; }
		}
	}

.lrb_border (@color)	{ border-left: solid 1px @color; border-right: solid 1px @color; border-bottom: solid 1px @color; }

#product_list
	{
	position: relative; padding: 15px;
	.product_header	{ background-color: #eee; height: 28px; border: solid 1px #ddd; font-weight: bold; }
	.ph_name		{ line-height: 28px; padding-left: 15px; }
	.ph_data
		{
		float: right; line-height: 28px; 
		.ph_prize	{ float: left; width: 101px; padding: 0 15px; text-align: right; span { font-weight: normal; } }
		.ph_bids	{ float: left; width: 50px; padding: 0 15px; text-align: center; }
		.ph_expiry	{ float: left; width: 70px; padding: 0 15px; text-align: right; }
		}
	.product_line:hover	{ background-color: #fdffd6 !important; }
	.product_line
		{
		background-color: #f8f8f8; position: relative; border: solid 1px #f8f8f8; width: 748px; margin: 5px auto 0 auto;
		.product_highlight	{ float: left; padding: 0 10px 0 0; input[type=checkbox] { margin: 9px 0 0 10px; } height: 30px; }
		.product_info_place	{ float: left; width: 748px; }
		.product_nh	{ }
		.product_code	{ float: right; margin-right: 10px; height: 30px; line-height: 30px; color: #999; }
		.product_name
				{
				float: left; height: 30px; line-height: 30px; padding-left: 10px;
				a		{ font-size: 12px; font-weight: bold; color: #666; }
				a:hover	{ font-size: 12px; font-weight: bold; color: #444; }
				}
		.product_name_x	{ margin-left: 16px; }
		.product_desc		{ float: left; margin-left: 10px; height: 30px; line-height: 30px; color: #999; }
		.product_img_data	{ float: left; padding: 5px 10px 10px 10px; width: 50px; }
		.product_img		{ float: left; }
		.product_info
			{
			position: relative; padding: 5px 0 0 0; overflow: hidden; height: 50px;
			.product_icon	{ position: absolute; bottom: 0; left: 0; height: 14px; }
			.product_d_t	{ span { float: left; width: 45px; } }
			}
		.product_data	{ float: right; }
		.pbe_stuff(@width,@talign)	{ float: left; width: @width; height: 50px; padding: 5px 10px 0 10px; text-align: @talign; }
		.prize
			{
			.pbe_stuff(105px,right); font-weight: bold;
			span		{ display: block; }
			.actual		{ color: #666; }
			.bad_a		{ color: #f32000; }
			.good_a		{ color: #8cc106; }
			.min_prize	{ color: #999; }
			.buy_out	{ background: url("http://@{img_patch}/arrows.png") no-repeat 0 -78px; color: #8cc106; }
			.fix_p		{ color: #8cc106; height: 16px; margin-bottom: 5px; }
			}
		.bids
			{
			.pbe_stuff(255px,left); position: relative;
			.author_info
				{
				width: 215px; height: 18px; margin: 0 0 5px 0;
				a, span		{ float: left; margin-right: 5px; }
				a, .kover	{ margin-right: 5px; }
				}
			.pi_holder	 { float: left; width: 45px; margin-left: 5px; margin-right: 5px; }
			.prod_id	 { height: 16px; }
			}
		}	
	}

/* Comments */

.qna_first	{ position: relative; width: 878px; margin: 0 0 5px -2px; }
.qna_question	{ position: relative; float: left; width: 806px; padding: 0 0 5px 70px; }
.qna_answer	{ position: relative; float: right; width: 806px; margin: 0 -2px 5px 0; }
.prof_img_wbg40	{ background: url("http://@{img_patch}/frontend/wbg_ps40.jpg") no-repeat 0 0; width: 40px; height: 47px; padding: 5px 6px 0 6px; text-align: center; }
.qna_first, .qna_question	{ .prof_img_wbg40 { float: left; margin-right: 14px; } }
.qna_answer	{ .prof_img_wbg40 { float: right; margin-left: 14px; } }
.qna_text	{ position: relative; float: left; }
.qna_first	{ .qna_text	{ background-color: #f8f8f8; width: 800px; border: solid 1px #ddd; margin-left: 10px; } }
.qna_question	{ .qna_text	{ background-color: #f8f8f8; width: 728px; border: solid 1px #ddd; margin-left: 10px; } }
.qna_answer	{ .qna_text	{ background-color: #faff9d; width: 728px; border: solid 1px #ddd; margin-right: 10px; } }

.qna_first, .qna_question, .qna_answer	{ .qna_buttons .button_wb { float: right; margin: 0 0 0 5px; } }
.qna_first, .qna_question	{ .qna_buttons  { padding-left: 76px; } }
.qna_answer	{ .qna_buttons { padding-right: 76px; } }
.qna_texta	{ position: relative; float: left; margin: 0 0 5px 0; padding: 5px; }
.qna_first
	{
	.qna_texta { background-color: #fff; width: 790px; border: solid 1px #ddd; margin-left: 10px; height: 90px; }
	.qna_i_subject { float: right; margin: 0 0 5px 0; height: 22px; line-height: 22px; input { margin: 0; } span { float: left; height: 22px; line-height: 22px; margin-right: 15px; } }
	}
.qna_question	{ .qna_texta { background-color: #fff; width: 800px; border: solid 1px #ddd; width: 718px; margin-left: 10px; height: 90px; } }
.qna_answer	{ .qna_texta { background-color: #fff; width: 800px; border: solid 1px #ddd; width: 718px; margin-right: 10px; height: 90px; } }
.qna_buttons{ div { float: right; padding-right: 10px; input, label { float: left; line-height: 22px;} input { margin-top: 4px; } } }

.qna_data	{ padding: 15px; }
.qna_name	{ float: left; .author_info { margin: 0; } }
.qna_subject	{ float: right; margin-left: 15px; }
.qna_date	{ float: right; margin-left: 15px; }
.qna_controls	{ float: right; .pi_reply, .pi_a_plus, .pi_a_min { margin: 0 0 0 15px; } }
.qna	{ padding: 0 15px 15px 15px; }
.qna p	{ margin: 0; padding: 0; }

.main_holder	{ .ddd_line {margin: 10px 0 15px 0; } .button_wb { margin: 0; } }
.d_l_button		{ .button_wb { float: right; margin: 0; } }

.combg_stuff (@x, @y)	{ background: url("http://@{img_patch}/frontend/comment_stuff.jpg") no-repeat @x @y; position: absolute; width: 5px; height: 5px; }
.qna_first, .qna_question	{ .qna_xleft	{.combg_stuff(0,-44px); width: 11px; height: 11px; top:  10px; left: -11px; } }
.qna_ctl	{.combg_stuff(0,0); top:  -1px; left: -1px; }
.qna_ctr	{.combg_stuff(-17px,0); top:  -1px; right: -1px;}
.qna_cbl	{.combg_stuff(0,-17px); bottom:  -1px; left:  -1px; }
.qna_cbr	{.combg_stuff(-17px,-17px); bottom:  -1px; right:  -1px; }
.qna_answer
	{
	.qna_xleft	{.combg_stuff(-11px,-44px); width: 11px; height: 11px; top: 10px; right: -11px; }
	.qna_ctl	{.combg_stuff(0,-22px); }
	.qna_ctr	{.combg_stuff(-17px,-22px); }
	.qna_cbl	{.combg_stuff(0,-39px);  }
	.qna_cbr	{.combg_stuff(-17px,-39px);  }
	}



.qna_first .qna_data	{ padding-bottom: 5px; }